<!doctype html>
<html lang="ja">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://unpkg.com/sakura.css/css/sakura.css" media="screen" />
    <link rel="stylesheet" href="https://unpkg.com/sakura.css/css/sakura-dark.css" media="screen and (prefers-color-scheme: dark)" />
    <style type="text/css">
        body {
          max-width: 100%;
        }
        h1, h2, h3, h4, h5, h6 {
          text-align: center;
        }
        p {
          max-width: 38em;
          margin-left: auto;
          margin-right: auto;
        }
        .kpiTitle { font-size: 200%; }
        .kpiValue { font-size: 300%; }
    </style>
    <title>{{data.title}}</title>
</head>
<body>
    {% if data.h1 %}<h1>{{data.h1}}</h1>{% endif %}
    {% if data.pre_dashboard %}<p>{{data.pre_dashboard}}</p>{% endif %}
    <table style="width: 100%">
    <tr>{% for kpi in data.kpis %}
        <td style="width: {{data.kpi_width}}%; text-align: center;">
            <span class="kpiTitle">{{kpi.title}}</span><br/>
            <span class="kpiValue">{{kpi.value}}</span>{% if kpi.unit %} {{kpi.unit}}{% endif %}<br/>
        </td>{% endfor %}
    </tr>
    <tr>{% for kpi in data.kpis %}
        <td>
            {{kpi.div}}
        </td>{% endfor %}
    </tr>
    </table>
    {% if data.post_dashboard %}<p>{{data.post_dashboard}}</p>{% endif %}
</body>
</html>
